.main-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.title{
  width: 100%;
  display: flex;
}

.store-name{
  width: 90%;
  font-size: 1.5rem;
}

.shopping-cart{
  width: 10%;
  display: flex;
  cursor: pointer;
}
.shopping-cart > i{
  width: 40%;
  font-size: 150%;
}
.shopping-cart > p{
  width: 60%;
}


.products-container{
  background-color: snow;
}

.products-container > .row > .card{
  cursor: pointer;
}

.product-detail-container > .card > .card-header{
  cursor: pointer;
}

.row{
justify-content: center;
}

img.card-img-top{
  height: 50%;
  object-fit: contain;
}

.product-detail-container{
  width: 90%;
}

.short-description > .price{
  color: rgb(114, 112, 109);
}

.product-detail-container img{
  width: 50%;
}
